%form{:method => 'get', :action => sign_in_path, :id => 'auth_form'}
  %input{:type => 'hidden', :name => 'openid_url', :value => 'https://www.google.com/accounts/o8/id'}
  %input{:type => 'submit', :value => 'Sign In'}

