%form{:method => 'get', :action => '/auth/open_id', :id => 'auth_form'}
  %input{:type => 'hidden', :name => 'openid_url', :value => 'https://www.google.com/accounts/o8/id'}
  %input{:type => 'submit', :value => 'Sign In'}

